<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Management System</title>
</head>
<body>
<div align ="center">
    <h1>Employee List  </h1>
    <table>
        <thead>
        <tr>
            <th>Employee Name</th>>
            <th>Employee Department</th>
            <th>Employee Email</th>>
        </tr>>
        </thead>
        <tbody>
        <tr>th:each="employee :${listEmployee}">
            <td>th:text = "${employee.name}" </td>>
            <td>th:text = "${employee.department}" </td>>
            <td>th:text = "${employee.email}" </td>>
        </tr>
        </tbody>
    </table>>
</div>>
</body>
</html>